*.(oa)

*.log

build/

dist/

node_modules/

.DS_Store

.idea/
.vscode/

.env.local
.env.development
.env.production

*.jar
*.war
*.zip
*.tar.gz

*.pyc
__pycache__/

*.exe
*.obj
*.lib
*.dll
Debug/
Release/
